{% extends 'qa/base.html' %}

{% block title %}Signup{% endblock title %}
{% block content %}
    <div>
        <form action="{% url 'user_signup' %}" method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for row in form %}
                <div><label for="{{ row.id_for_label }}">{{ row.label }}</label>{{ row }}</div>
                <div>{{ row.errors }}</div>
            {% endfor %}
            <input type="submit" value="Submit!">
        </form>
    </div>
{% endblock content %}